include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    title Portfolio | main page
  body
    

    section.general
      header.main__header
        .container.main__header-container
          .main__header-logo BA
          .main__header-nav.hide-from-md
            nav
              - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"];
              ul
                each item in menuItems
                  li
                    a(href="#") #{item}

          .main__header-social
            - var socials = ["insta", "vk", "github", "envelope"];
              ul
                each item in socials
                  li
                    a
                      +icon(item, "social__icon")

          .main__header-hamburger
            .hamburger
          
      .general-welcome
        .container.welcome-container
          .welcome__title
            span Личный сайт #[br]веб-разработчика
            h1 Владимир Астаханов

        .welcome-downbutton
          button.scroll-down__btn
            a Скролл
            +icon('scroll')

      .general-about
        .container.about-container
          .about-person
            .person-avatar
              +image("avatar.png")

            - var data = [ ["Проживаю", "Новосибирск"], ["Возраст", "27 лет"], ["Родился", " 1 января 1991"] ]
            table.person-data
              each item in data
                tr
                  th #{item[0]}
                  td #{item[1]}

          .about-content
            p Привет, меня зовут
            h2 Владимир Астаханов
            p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            blockquote 
              +icon('star', 'star')
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    section.skills
      .container
        .skills__content
          .skills-title
            h3 Чем я могу быть полезен вам
          .skills-text
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования #[br] LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, #[br] как тут всё классно и красиво!
          #skills-component
    section.works
      .container.works-container
        .works__title
          h2 Мои работы
        .works__content
          #preview-component

    section.slider
      #slider-component


    footer.main__footer
      .container

        //- >1200
        .main__footer-row.hide-from-xl
          .main__footer-col.col-2
            .main__footer-copyright
              p &copy; 2020
          .main__footer-col.col-2
            .main__footer-name
              p Владимир #[br] Астаханов
          .main__footer-col.col-4
            nav.main__footer-nav
              ul
                each item in menuItems
                  li 
                    a(href="#") #{item}

        .main__footer-row.hide-from-xl
          .main__footer-col.col-2.offset-2
            .main__footer-subtitle
              p Личный сайт #[br] веб-разработчика
          .main__footer-col.col-4
            .main__footer-text
              p Этот сайт я сделал в рамках обучения в #[br] Школе онлайн образования Loftschool
          .main__footer-col.col-4
            .main__footer-text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете

        .main__footer-row.hide-from-xl
          .main__footer-col.col-4.offset-4
            .footer__socials
              ul
                each item in socials
                  li
                    a
                      +icon(item, "footer__socials-icon")
          .main__footer-col.col-4
            .main__footer-author
              p Martin Golding
        //- >1200 (end)
        //- >768
        .main__footer-row.show-only-md
          .main__footer-col.col-3
            .main__footer-copyright
              p &copy; 2020
          
          .main__footer-col.col-9
            nav.main__footer-nav
              ul
                each item in menuItems
                  li 
                    a(href="#") #{item}

        .main__footer-row.show-only-md
          .main__footer-col.col-3
            .main__footer-name
              p Владимир #[br] Астаханов
          
          .main__footer-col.col-4
            .main__footer-text
              p Этот сайт я сделал в рамках обучения в #[br] Школе онлайн образования Loftschool
          .main__footer-col.col-5
            .main__footer-text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете

        .main__footer-row.show-only-md
          .main__footer-col.col-3
            .main__footer-subtitle
              p Личный сайт #[br] веб-разработчика
          .main__footer-col.col-4
            .footer__socials
              ul
                each item in socials
                  li
                    a
                      +icon(item, "footer__socials-icon")
          .main__footer-col.col-5
            .main__footer-author
              p Martin Golding
        //- >768 (end)
        //- >480
        .main__footer-row.show-only-sm
          .main__footer-col.col-4
            .main__footer-copyright
              p &copy; 2020
          
          .main__footer-col.col-8
            nav.main__footer-nav
              ul
                each item in menuItems
                  li 
                    a(href="#") #{item}

        .main__footer-row.show-only-sm
          .main__footer-col.col-4
            .main__footer-name
              p Владимир #[br] Астаханов
          
          .main__footer-col.col-8
            .main__footer-text
              p Этот сайт я сделал в рамках обучения в #[br] Школе онлайн образования Loftschool

        .main__footer-row.show-only-sm
          .main__footer-col.col-4
            .main__footer-subtitle
              p Личный сайт #[br] веб-разработчика
          .main__footer-col.col-8
            .footer__socials
              ul
                each item in socials
                  li
                    a
                      +icon(item, "footer__socials-icon")
        .main__footer-row.show-only-sm
          .main__footer-col.offset-4.col-8
            .main__footer-text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            .main__footer-author
              p Martin Golding
        //- >480 (end)
        //- <480
        .main__footer-row.show-only-xs
          .main__footer-col.col-12
            .main__footer-copyright
              p &copy; 2020

          .main__footer-col.col-12
            .main__footer-name
              p Владимир #[br] Астаханов

          .main__footer-col.col-12
            .main__footer-subtitle
              p Личный сайт #[br] веб-разработчика
          
          .main__footer-col.col-12
            nav.main__footer-nav
              ul
                each item in menuItems
                  li 
                    a(href="#") #{item}

          
          
          .main__footer-col.col-12
            .main__footer-text
              p Этот сайт я сделал в рамках обучения в #[br] Школе онлайн образования Loftschool

          
          .main__footer-col.col-12
            .footer__socials
              ul
                each item in socials
                  li
                    a
                      +icon(item, "footer__socials-icon")
                      
          .main__footer-col.col-12
            .main__footer-text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            .main__footer-author
              p Martin Golding
        //- <480 (end)

    include ./templates/entry.pug